body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f1f5f9;
}

.hidden { display: none; }

/* LOGIN */
.login-box {
  width: 300px;
  margin: 150px auto;
  padding: 20px;
  background: #020617;
  color: white;
  text-align: center;
  border-radius: 10px;
}

.password-box {
  display: flex;
  align-items: center;
}

.password-box input {
  flex: 1;
  padding: 8px;
}

.password-box span {
  cursor: pointer;
  padding: 8px;
}

/* SIDEBAR */
.sidebar {
  width: 220px;
  background: #020617;
  color: white;
  height: 100vh;
  position: fixed;
  padding: 10px;
}

.sidebar button {
  width: 100%;
  margin: 4px 0;
  padding: 8px;
  background: #1e293b;
  color: white;
  border: none;
  cursor: pointer;
}

/* CONTENT */
.content {
  margin-left: 240px;
  padding: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  background: white;
}

th {
  background: #2563eb;
  color: white;
  padding: 8px;
}

td {
  border: 1px solid #cbd5e1;
  padding: 6px;
}
