body {
  font-family: Arial;
  background: #0f172a;
  color: white;
  margin: 0;
}

.hidden { display: none; }

#loginBox {
  width: 300px;
  margin: 150px auto;
  background: #020617;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
}

input, button, select {
  width: 100%;
  margin: 5px 0;
  padding: 8px;
}

button {
  background: #22c55e;
  border: none;
  cursor: pointer;
}

nav {
  width: 200px;
  background: #020617;
  height: 100vh;
  float: left;
  padding: 10px;
}

main {
  margin-left: 210px;
  padding: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  background: #22c55e;
  color: black;
}

td, th {
  border: 1px solid #334155;
  padding: 5px;
}
